header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #4caf;
  margin-bottom: 30px;
  justify-content: space-between;
  .links {
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-right: 20px;
    align-items: center;
  }
}
